body {
  background: #FCFCFC; }

#shop_cart_header {
  height: 30px;
  background: #f6f6f6; }
  #shop_cart_header #shop_cart_header_top {
    height: 30px;
    background: #f6f6f6;
    font-size: 12px;
    line-height: 30px; }
    #shop_cart_header #shop_cart_header_top span {
      color: #00a1dc;
      cursor: pointer; }
    #shop_cart_header #shop_cart_header_top .icon1 {
      color: #00b131;
      cursor: pointer; }
    #shop_cart_header #shop_cart_header_top .icon2 {
      color: #ff0000;
      cursor: pointer; }
    #shop_cart_header #shop_cart_header_top ul {
      overflow: hidden;
      float: right;
      margin-top: 5px;
      margin-right: 200px; }
      #shop_cart_header #shop_cart_header_top ul li {
        padding: 0 12px;
        border-right: 1px solid black;
        float: left;
        font-size: 12px;
        height: 19px;
        line-height: 23px;
        text-align: center;
        cursor: pointer; }
      #shop_cart_header #shop_cart_header_top ul li:nth-of-type(3) {
        border-right: 0; }

#shop_cart_logo {
  height: 120px; }
  #shop_cart_logo img {
    display: inline-block;
    margin-top: 17px; }
  #shop_cart_logo img:nth-of-type(1) {
    margin-top: 31px;
    margin-left: 5px;
    cursor: pointer; }
  #shop_cart_logo img:nth-of-type(2) {
    margin-left: 5px;
    float: right; }

#shop_cart_body {
  margin-bottom: 20px; }
  #shop_cart_body h4 {
    font-size: 16px;
    font-weight: 700;
    color: #FEB900;
    height: 30px;
    line-height: 30px; }
  #shop_cart_body #shop_cart_body_list {
    box-sizing: border-box;
    margin-bottom: 20px; }
    #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top {
      background: #F2F2F2; }
      #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul {
        overflow: hidden;
        height: 40px;
        padding: 0 15px;
        box-sizing: border-box; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul li {
          height: 40px;
          line-height: 40px;
          float: left; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul li:nth-of-type(1) {
          margin-left: 20px; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul li:nth-of-type(2) {
          margin-left: 30px; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul li:nth-of-type(3) {
          margin-left: 230px;
          margin-right: 230px; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul li:nth-of-type(5) {
          margin-left: 80px;
          margin-right: 50px; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul li:nth-of-type(6) {
          margin-left: 20px; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_top ul li:nth-of-type(7) {
          margin-left: 107px; }
    #shop_cart_body #shop_cart_body_list #shop_cart_body_list_body {
      background: #FFF5E8;
      border: 1px solid #DCDCDC;
      padding: 0 0 16px 10px;
      padding-left: 10px;
      box-sizing: border-box;
      font-size: 12px; }
      #shop_cart_body #shop_cart_body_list #shop_cart_body_list_body span:nth-of-type(1) {
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 12px;
        color: #00A1DC; }
      #shop_cart_body #shop_cart_body_list #shop_cart_body_list_body span:nth-of-type(2) {
        border: 1px solid #DA0000;
        color: #DA0000;
        text-align: center;
        height: 18px;
        width: 36px;
        box-sizing: border-box;
        margin-right: 12px;
        font-size: 12px; }
    #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content {
      background: #FCFCFC;
      border: 1px solid #DCDCDC;
      margin-top: 20px;
      overflow: hidden; }
      #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content h4 {
        height: 38px;
        line-height: 38px;
        padding-left: 20px;
        box-sizing: border-box; }
      #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list {
        overflow: hidden;
        border-top: 2px solid #00A0DA; }
        #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul {
          background: #FFF5E8;
          overflow: hidden; }
          #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li {
            width: 100%;
            height: 80px;
            margin-top: 50px;
            margin-bottom: 10px;
            margin-left: 51px; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li input {
              float: left;
              margin-top: 30px;
              margin-left: -30px; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li img {
              width: 80px;
              height: 80px;
              float: left; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li p {
              float: left; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li p:nth-of-type(1) {
              display: inline-block;
              width: 175px;
              height: 80px;
              color: #00A1DC;
              font-size: 12px;
              margin: 0 40px;
              cursor: pointer; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li p:nth-of-type(2) {
              font-size: 12px; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li p:nth-of-type(3) {
              width: 310px;
              text-align: right;
              font-size: 12px; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li .one_span {
              float: left;
              margin-left: 55px;
              width: 85px;
              height: 22px;
              font-size: 12px;
              border: 1px solid lightgray;
              box-sizing: border-box;
              text-align: center; }
              #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li .one_span .number {
                width: 36px;
                height: 20px;
                float: left;
                margin-top: 0px;
                margin-left: 5px;
                text-align: center;
                background: #FFF5E8; }
              #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li .one_span button {
                width: 18px;
                height: 20px; }
              #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li .one_span button:nth-of-type(1) {
                border-right: 1px solid lightgray;
                float: left;
                cursor: pointer; }
              #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li .one_span button:nth-of-type(2) {
                border-left: 1px solid lightgray;
                float: right;
                cursor: pointer; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li span:nth-of-type(2) {
              color: #E30000;
              float: left;
              margin-left: 40px;
              font-size: 12px;
              font-weight: 700; }
            #shop_cart_body #shop_cart_body_list #shop_cart_body_list_content #shop_cart_body_list_content_list ul li span:nth-of-type(3) {
              font-size: 12px;
              float: left;
              float: left;
              margin-left: 120px;
              cursor: pointer; }
  #shop_cart_body #shop_cart_body_deal {
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    position: relative; }
    #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_left {
      width: 230px;
      font-size: 13px;
      float: left;
      margin-top: 15px;
      margin-left: 15px; }
      #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_left input[type='checkbox'] {
        margin-right: 15px; }
      #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_left span:nth-of-type(1) {
        font-size: 12px;
        color: #FFA600; }
      #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_left span:nth-of-type(2) {
        font-size: 12px;
        color: red;
        margin-left: 10px;
        cursor: pointer; }
    #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_right {
      float: right;
      font-size: 12px; }
      #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_right p {
        width: 395px; }
      #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_right p:nth-of-type(1) {
        margin-top: 7px; }
        #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_right p:nth-of-type(1) i {
          display: inline-block;
          color: #FFA600; }
        #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_right p:nth-of-type(1) i:nth-of-type(2) {
          font-size: 15px; }
      #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_right p:nth-of-type(3) {
        text-indent: 129px; }
      #shop_cart_body #shop_cart_body_deal #shop_cart_body_deal_right input {
        width: 95px;
        height: 48px;
        color: white;
        background: #D3D3D3;
        position: absolute;
        right: 0;
        top: 0; }
  #shop_cart_body #shop_cart_body_you_like h4 {
    height: 44px;
    line-height: 55px;
    color: #E30000;
    width: 76px;
    border-bottom: 1px solid #E30000;
    margin-top: 20px;
    margin-bottom: 20px; }
  #shop_cart_body #shop_cart_body_you_like ul {
    overflow: hidden;
    display: flex;
    justify-content: space-between; }
    #shop_cart_body #shop_cart_body_you_like ul li {
      width: 277px;
      height: 300px;
      border: 1px solid #DCDCDC;
      float: left;
      box-sizing: border-box;
      padding: 20px 20px; }
      #shop_cart_body #shop_cart_body_you_like ul li img {
        width: 160px;
        height: 160px;
        margin-left: 38px; }
      #shop_cart_body #shop_cart_body_you_like ul li h5 {
        height: 38px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      #shop_cart_body #shop_cart_body_you_like ul li span {
        color: #E30000;
        font-size: 13px;
        display: block; }
      #shop_cart_body #shop_cart_body_you_like ul li input {
        width: 130px;
        height: 30px;
        background: #E30000;
        color: white;
        font-weight: 700;
        margin-top: 20px; }

/*# sourceMappingURL=shop_cart.css.map */
